{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">Board</th>
            <th scope="col">Posts</th>
            <th scope="col">Topics</th>
            <th scope="col">Last Post</th>
        </thead>
        <tbody>
            {% for board in boards %}
                <tr>
                    <td>
                        <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
                        <small class="text-muted d-block">
                            {{ board.description }}
                        </small>
                    </td>
                    <td class="align-middle">0</td>
                    <td class="align-middle">0</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
